[submodule "MobyDick"]
	path = MobyDick
	url = https://github.com/dogstar25/MobyDick_NEW
	branch = feature/md-fix-wall-issue
[submodule "BobbysBurden"]
	path = BobbysBurden
	url = https://github.com/dogstar25/BobbysBurden
	branch = feature/bb-fix-wall-issue
