[submodule "MobyDick"]
	path = MobyDick
	url = https://github.com/dogstar25/MobyDick_NEW
	branch = feature/md-sound-fixes
	update = merge
[submodule "BobbysBurden"]
	path = BobbysBurden
	url = https://github.com/dogstar25/BobbysBurden
	branch = feature/bb-sound-fixes
